<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Prompt</h5>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure to delete the record?
      </div>
      <div class="modal-footer">
        <%#= link_to 'Delete', user_path(user), method: :delete, class:"btn btn-dark" %>
      </div>
    </div>
  </div>
</div>